<h1 style="text-align: center">new diary</h1>

<div class="row">
    <% if @diary.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
	 <%= "登録に失敗しました。#{@diary.errors.count}つのエラーがあります。 "%>
      </div>
      <ul>
	<% @diary.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
      </ul>
    </div>
    <% end %>
</div>
<div class="new-diary">
  <div class="edit-diary">
    <div class="form-group">
         <%= form_for(@diary) do |f| %>
    <%= f.label :statement %>
    <%= f.text_area :statement , class: 'form-control' ,id: 'diary-statement' %></br>
    <%= f.submit "Create Diary", class: "btn btn-success "%>
    </div>
    <% end %>
</div>
<div class="preview-diary">
</div>
</div>
