<h1>new diary</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@diary) do |f| %>

    <% if @diary.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
	 <%= "登録に失敗しました。#{@diary.errors.count}つのエラーがあります。 "%>
      </div>
      <ul>
	<% @diary.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>
<div clss="new-diary">
  <div class="edit-diary">
    <div class="form-group">
    <%= f.label :statement %>
    <%= f.text_area :statement , class: 'form-control' ,id: 'diary-statement'%>
    </div>
    <%= f.submit "Create Diary", class: "btn btn-success "%>
    <% end %>
    <%= button_tag "ajax", id: "ajax-button", class: "btn btn-primary" %>
    
</div>
<div class="preview-diary">
<h1>test</h1>
</div>
</div>
